<header class="bg-black p-20">
  <div class="container-fluid text-center p-10">
    |
      <div class="row">
      <div class="col  element-textologo ">
        <h2>GW</h2>
      </div>
      
   
      <div class="col">
        <nav class="nav m-2 navbar-expand-sm justify-content-center">
          <a routerLink="">Home</a>
          <a routerLink="/Anime">Anime</a>
          <a routerLink="/VideosAnime">videos</a>
          <a routerLink="/About">About</a>
        </nav>
      </div>
      </div>
    
  </div>
</header>
