/*header{
    background-color: black;
    padding: 20px;
    
}*/

nav a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}

/*.container { /*todo el bloque del header
    width: 90%;
    max-width: 1200px;
    margin:  auto;
    padding: 10px 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr); /*Se dividió en 3 para poder mandar cada uno a la esquina de forma más organica
}*/



.element-textologo { /*div de GW en header*/
    color: white
}


