*{
	box-sizing: border-box;
	font-family: sans-serif;
}

.cabeza{
    background-color: gray;
    color: white;
}

.cuerpo{
    background-color: gray;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.frase{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    
    background-color: gray;
    color: white;
}