/*.container-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    background-color: black;
    
}

.imagen{
    grid-column: 1/3;
}

.texto-body{
    grid-row: 2/3;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}*/

.textoo{
    color: white;
}

