*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: auto;
    height: auto;
}

img{
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 800px) {
  .container, .container-anime, .container-body {
    width: 100%; 
  }
}


